@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/************* common css *****************/
body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}

/************* header area css *****************/
#header {
    background: #054979;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: .2rem 0;
    position: sticky;
    top: 0;
    left: 0;
}
.nav-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 0
}
.nav-area .logo img {
    background-color: white;
    border-radius: 50%;
    width: 3rem !important;
    height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-area .menu a {
    color: white;
    text-decoration: none;
    margin: 0 .4rem;
}
.nav-area button {
    border: none;
    margin: 0 .5rem;
    color: white;
    padding: .2rem 1rem;
    border-radius: 5px;
}
.nav-area #btn-1 {
    background: crimson;
}
.nav-area #btn-2 {
    background: #ffc107;
    color: black;
}

/****************** welcome-area css *******************/
#welcome-section {
    background: #054979;
    color: white;
}
.welcome-area {
    display: flex;
    gap: 2rem;
    padding: 3rem 0;
    align-items: center;
}
.welcome-area .welcome-img-area {
    width: 40%;
}
.welcome-area .welcome-area-content {
    width: 60%;
}
.welcome-area img {
    width: 100%;
    border-radius: 10px;
}

/************** why pshyio area css  *************/
/* .why-physio {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
} */

/******************** How It Works Area *********************/
#howitworks {
    background-color: #dff9fb;
}
.how-it-works .works-process {
    display: flex;
    text-align: center;
    gap: 2rem;
}
.how-it-works .works-process div{
    width: 33.3%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    padding: 2rem;
}
.how-it-works .works-process i {
    font-size: 2rem;
}

/**************** contact us css  ******************/
.contact-us {
    background: #dff9fb;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

/************* Footer-area css  ****************/
.footer-area {
    background: #000;
}