.db-layout {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    gap: 1rem;
}
.left-db{
    background: #242B2E;
    height: 90vh;
    width: 18vw;
    border-radius: 5px;
    padding: .5rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.main-db {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 90vh;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}
.main-db-header {
    /* border-bottom: 2px solid #e6d5d5; */
    border-bottom: 2px solid #494c4d;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-db-header i {
    font-size: 1.5rem;
}
.header-user {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 0 .5rem;
}
.header-user a {
    text-decoration: none;
}
.main-db-content {
    /* border-top: 2px solid #e6d5d5; */
    padding: .5rem;
}

.single-menu-item {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: .5rem;
    padding: .2rem 0 .2rem .5rem;
}
.single-menu-item a {
    color: white;
    text-decoration: none;
}
.active-menu-item {
    background-color: black;
}

.left-db-title {
    margin: 1rem  0 2rem 0;
}